* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-background {
    width: 100%;
    height: 100vh;
    
    background: linear-gradient(10deg, #355C7D, #6C5B7B, #C06C84);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.neon-text {
    font-size: 6vw;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    color: #fff;
    text-shadow:
        0 0 7px #d99bf7,
        0 0 10px #f4ccfc,
        0 0 21px #fff,
        0 0 42px rgb(115, 185, 255),
        0 0 82px #0fa,
        0 0 92px rgb(151, 148, 250),
        0 0 102px rgb(135, 95, 213),
        0 0 151px rgb(232, 127, 248);

    &__flicker-fast {
        animation: flicker 2s linear infinite;
    }

    &__flicker-slow {
        animation: flicker 4s linear infinite;
    }

}

@keyframes flicker {
    0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
            
    }
    20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: 0.4;
    }
}